@font-face {
	font-family : 'PT Sans';
	src         : url('pts55f_w.eot');
	src         : local('PT Sans'), url('PTS55F_W.woff') format('woff'), url('PTS55F_W.ttf') format('truetype'), url('PTS55F_W.svg#PTSans-Regular') format('svg');
}

@font-face {
	font-family : 'PT Sans';
	font-style  : italic;
	src         : url('pts56f_w.eot');
	src         : local('PT Sans Italic'), url('PTS56F_W.woff') format('woff'), url('PTS56F_W.ttf') format('truetype'), url('PTS56F_W.svg#PTSans-Italic') format('svg');
}

@font-face {
	font-family : 'PT Sans';
	src         : url('pts75f_w.eot');
	font-style  : normal;
	font-weight : bold;
	src         : local('PT Sans Bold'), url('PTS75F_W.woff') format('woff'), url('PTS75F_W.ttf') format('truetype'), url('PTS75F_W.svg#PTSans-Bold') format('svg');
}