:root {
	--blue         : rgba(21, 101, 192, 1);
	--blue2        : rgba(59, 110, 170, 1);
	--blue-alfa10  : rgba(21, 101, 192, 1);
	--blue-alfa08  : rgba(21, 101, 192, .8);
	--blue-alfa06  : rgba(21, 101, 192, .6);
	--blue-alfa04  : rgba(21, 101, 192, .4);
	--blue-alfa02  : rgba(21, 101, 192, .2);
	--red-alfa10   : rgba(211, 47, 47, 1);
	--red-alfa08   : rgba(211, 47, 47, .8);
	--red-alfa06   : rgba(211, 47, 47, .6);
	--red-alfa04   : rgba(211, 47, 47, .4);
	--red-alfa02   : rgba(211, 47, 47, .2);
	--darkblue     : rgba(13,71,161 ,1);
	--liteblue     : rgba(33,150,243 ,1);
	--white        : rgba(255, 255, 255, 1);
	--white-alfa01 : rgba(255, 255, 255, .1);
	--scrollbar    : #999;
	--black        : #222;
	--gray         : #ECF0F1;
	--gray2        : #EEE;
	--gray3        : #2C3E50;
	--gray4        : #607D8B;
	--gray5        : #8899A6;
	--gray6        : rgba(84, 110, 122, 0.6);
	--gray7        : rgba(179, 229, 252, 0.3);
	--green        : rgba(67,160,71 ,1);
	--green-alfa08 : rgba(67,160,71 ,.8);
	--green-alfa06 : rgba(67,160,71 ,.6);
	--green-alfa04 : rgba(67,160,71 ,.4);
	--green-alfa02 : rgba(67,160,71 ,.2);
	--green-dark   : rgba(27,94,32 ,1);
	--green-lite   : rgba(102,187,106 ,1);
	--orange       : #FFCE54;
	--orange-dark  : #F6BB42;
	--orange-lite  : #FFE082;
	--mint         : #4FC3F7;
	--biruza       : #90CAF9;
	--biruza-lite  : #D0E5F5;
}

body, html,
.mainbg,
#lmenu,
#lmenu .contaner,
.ui-widget-header2,
.ui-layout-resizer {
	background : var(--gray);
}

#lmenu,
#lmenu .contaner,
.ui-widget-header2,
.ui-layout-resizer,
.ui-widget-content {
	border-color : var(--gray);
}

.ui-layout-west,
#lmenu,
#lmenu .contaner {
	background : var(--gray2);
}

.tableHeader table {
	border-top : 1px solid #E6E9ED;
}

#last .tableHeader table {
	border-top : 0;
}

.ui-widget-content > a.menu {
	border-right : 0;
	background   : #F5F7FA;
	border-color : #F5F7FA;
}

.ui-widget-content > a.menu:hover {
	border-right : 0;
	background   : #ECF0F1;
	border-color : #ECF0F1;
}

.ui-layout-center {
	border : transparent;
}

/*основной контент*/
#content, #contentdiv {
	background : var(--white);
}

/*фон меню*/
#dttabs .ui-state-active a {
	color : var(--blue);
}

.ui-layout-north {
	background : var(--blue);
}

.menu--block,
#menu {
	background : linear-gradient(
			var(--blue-alfa04),
			var(--blue-alfa02)
	),
	url(/assets/images/bg/blue.png) repeat,
	var(--blue);
}

#menu .hov {
}

#menu ul li {
}
#menu ul li a {
}
#menu ul:hover {
	background : var(--blue);
	color      : var(--black);
}
#menu ul ul {
	border-top : 2px solid var(--gray);
	background : var(--blue) !important;
	padding-right: 5px;
	padding-left: 5px;
}
#menu a.navlink:link,
#menu a.navlink:visited {
	background : var(--blue) !important;
}
#menu a.navlink:hover {
	color      : var(--blue);
	background : var(--white) !important;
	border-radius: 20px;
}
#menu a.navlink:hover svg use {
	fill : var(--white) !important;
}

#menu ul ul li.header {
	color : var(--liteblue);
}
#menu ul > .top-triangle-white {
	border-bottom : 7px solid var(--blue);
}
#menu hr {
	background : var(--blue);
}
#menu ul ul:after {
	border-bottom-color : var(--blue);
}

/*#menu ul li div.mnu{
	border-radius: 50px;
	border: 1px inset var(--blue);
	margin: 10px 5px 0 0;
	padding: 0 4px;
	line-height: 30px;
	background: var(--blue-alfa04);
}

#menu ul li div.mnu a{
	padding: 0 10px;
}
*/

#menu .hov {
	border-right: 0;
}

#menuavatar:hover {
	background : var(--blue);
}
#menuavatar .avatar-subtext {
	color : var(--gray);
}

/**
Меню аватара
*/
.avatar--menu{
	color              : var(--white);
	background         : var(--blue);
	border             : #34495E 1px solid;
}
.avatar--menu:after {
	border-color        : rgba(255, 255, 255, 0);
	border-bottom-color : #34495E;
}
.avatar--menu:before {
	border-color        : rgba(255, 255, 255, 0);
	border-bottom-color : var(--blue);
}
.avatar--menu .item:first-child {
	border-right : 1px dotted var(--blue2);
}

.avatar--menu .item .string {
	color                 : #FFF;
	border-bottom         : 1px dotted var(--blue2);
}
.avatar--menu .item .string.green {
	color      : #3F729B;
}
.avatar--menu .item .string .blue {
	color      : var(--gray-darkblue);
}
.avatar--menu .item .string .gray2 {
	color      : var(--gray);
}
.avatar--menu .item .string .gray {
	color      : var(--gray) !important;
}
.avatar--menu .item .string:hover {
	background-color : var(--gray-darkblue);
}
.avatar--menu .item .string:hover .blue{
	color      : var(--mint);
}
.avatar--menu .item .title {
	color          : var(--biruza);
	border-bottom  : 1px dotted var(--blue2);
}
.avatar--menu .item hr {
	border-bottom   : 1px dotted var(--blue2);
}
.avatar--menu .product{
	color: #FFF;
}
.avatar--menu .product a,
.avatar--menu .product .blue{
	color      : var(--mint);
}
.avatar--menu .product .warning{
	color: #222;
}

.redbg.toggler{
	background: var(--red-alfa08);
	color: var(--gray) !important;
}
.bluebg.toggler{
	background: var(--blue-alfa08);
	color: var(--gray) !important;
}
.greenbg.toggler{
	background: var(--green-alfa08);
	color: var(--gray) !important;
}

/*Кнопка Добавить обращение*/
.contaner > a.button {
	color      : var(--black);
	background : var(--orange-dark);
	border     : 0;
	margin     : 0 2px;
	padding    : 10px;
}

.contaner > a.button:hover {
	color      : var(--black);
	background : var(--orange-dark);
}

.ha:hover {
	background : var(--gray7);
}

/*popup*/
.popmenu,
.popmenu-top,
.submenu {

}
#rmenu .popmenu {
	border: 0 solid;
}
#rmenu .pophead {
	color      : var(--white) !important;
	background : var(--green-lite) !important;
}
#rmenu .popmenu .popheader {
	color      : var(--white) !important;
	background : var(--green) !important;
}
#rmenu .viewdiv{
	border-radius: 1px !important;
}

#rmenu .popmenu .popheader .blue {
	color : var(--white) !important;
}

.popcontent .clink a:hover,
.popcontent .clink:hover,
.submenu a.menu:hover {
	background : var(--gray) !important;
}

.triangle {
	border-top : 7px solid var(--blue);
}

.top-triangle {
	border-bottom : 7px solid var(--blue);
}

/*карточка*/
#head #close {
	border      : 1px solid var(--blue);
	border-top  : 0;
	background  : var(--orange-dark);
	font-size   : 0.70em;
	color       : var(--black);
	line-height : 1.15em;
	padding     : 5px 10px;
}

#head #close:hover {
	border     : 1px solid var(--blue);
	border-top : 0;
	background : var(--white);
	color      : var(--blue);
}

.fixx {
	color      : var(--white);
	background : linear-gradient(
			var(--blue-alfa02),
			var(--blue-alfa08)
	),
	url(/assets/images/bg/blue.png) repeat;
}

.fixx #ctitle .blue,
.fixx #ctitle a {
	color : var(--gray5);
}

#dtabs ul li {
	color      :var(--white);
	background : var(--blue-alfa06);
}

#dtabs ul li:hover,
#dtabs ul li a:hover {
	border-bottom : 0;
	color         : var(--white);
	background    : var(--red-alfa10);
}

#dtabs ul li a,
#dtabs ul li:hover a {
	color : var(--white);
}

#dtabs ul li.current:hover a {
	color      : var(--black);
	background : var(--gray);
}

#dtabs .current {
	border-bottom: 1px solid var(--gray);
	background: var(--gray);
}
#dtabs .current:hover {
	border-bottom: 1px solid var(--gray);
	background: var(--gray);
	font-weight: bold;
}

fieldset {
}

fieldset .batton-edit a,
fieldset .batton-edit a .blue {
}

/*элементы ui.jquery*/
.ui-state-active > #dialog, .ui-widget-content .ui-state-active > #dialog,
.mainbg .contaner,
.mainbg .ui-tabs-nav,
#tab_container,
#dttabs .ui-state-active,
#accordion .ui-state-active {
}

#accordion .ui-state-default {
}

.ui-widget-header > #dialog {
}

.ui-state-default > #dialog,
.ui-widget-content .ui-state-default > #dialog {
}

/*#dttabs .ui-state-default a,*/
#accordion .ui-state-default a {
}

#accordion .ui-state-default:not(.ui-state-active) a:hover {
	/*color:#FFF;*/
}

#accordion .ui-state-active a:hover {
}

#tab_container:hover,
#accordion .ui-state-default:not(.ui-state-active):hover {
	/*background: none;
	color:#fff;*/
}

.ui-state-default a > #dialog,
.ui-state-default a:link > #dialog,
.ui-state-default a:visited > #dialog {
}

#accordion .ui-state-active,
#accordion .ui-widget-content .ui-state-active,
.ui-state-active > #dialog,
.ui-widget-content .ui-state-active > #dialog {
}

#tab_container,
#tab_container .blue {
	color : var(--black);
}

/*список дел в левой панели*/
#taskweek .header {
	color        : var(--black);
	background   : var(--gray);
	border-color : var(--gray);
}

#entrybutton .button {
	background : var(--liteblue);
	color      : var(--white);
}

#entrybutton .button:hover {
	background : var(--orange-dark);
}

#swindow .header {
	background : linear-gradient(
			var(--green-alfa08),
			var(--green-alfa04),
	);
	background : var(--green-lite);
	color      : var(--green-dark);
}
#swindow .closer {
	color : var(--green-dark);
}

.tableHeader .header_contaner,
.tableHeader .header_contaner a,
.tableHeader .header_contaner a:link,
.tableHeader .header_contaner a:visited,
.tableHeader thead,
.tableHeader thead th{
	background: var(--darkblue) !important;
	color: var(--white) !important;
	border-right: var(--darkblue) !important;
}
#resultdiv .header_contaner th {
	background: var(--darkblue) !important;
	color: var(--white) !important;
	border-right: var(--darkblue) !important;
}

#dtpCalFilter .blue{
	color: var(--liteblue) !important;
}

/*скругленные элементы*/

#rmenu .tabs a:not(.razdel),
#rmenu .counters ul li,
#rmenu .tabs a:not(.razdel),
#rmenu a.razdel.pl5,
#rmenu a.razdel.pr5,
div.leftpop,
#rmenu div:not(.leftpop) > a.razdel{
	width         : 36px;
	height        : 36px;
	line-height   : 34px;
}

#rmenu .tabs a:not(.razdel),
#rmenu .counters ul li {
	font-size     : 0.9em;
	display       : block;
	background    : var(--gray2) !important;
	border        : 1px inset var(--gray5);
	border-bottom : 0;
	border-right  : 0;
	border-radius : 50px;
	margin-bottom : 2px;
	margin-left   : 8px;
}
#rmenu .counters ul li div.popmenu {
	line-height : initial;
	font-size   : 1.1em;
	color       : inherit;
}
#rmenu .counters ul li:hover {
	background : var(--blue2) !important;
}
#rmenu .counters ul li:hover .pops {
	color : var(--white) !important;
}

#rmenu .tabs a.lpToggler {
	margin-top : 5px;
	background : var(--green-lite) !important;
	color: var(--white) !important;
}

#rmenu .tabs a:not(.razdel),
#rmenu a.razdel.pl5,
#rmenu a.razdel.pr5 {
	padding     : 0 !important;
}

#rmenu .tabs a:hover {
	background : var(--blue2) !important;
}
#rmenu .tabs a.razdel:not(.active):not(:hover) .bullet{
	color: var(--black) !important;
}

#rmenu a.razdel.redbg-dark {
	background : var(--red-alfa10) !important;
}
#rmenu a.razdel.greenbg-dark {
	background: var(--green-lite) !important;
}
#rmenu a.razdel .bullet {
	color : var(--white) !important;
	right : 9px;
}
#rmenu a.razdel i {
	position : relative;
}
#rmenu a.razdel i i {
	/*position : absolute;*/
	/*top      : -15px;*/
	/*right    : -15px;*/
}
#rmenu a.active {
	font-size : 0.7em;
}
#rmenu a.active i i {
	background : transparent;
}

#rmenu .ymailer a.razdel i {
	position : relative;
}
#rmenu .ymailer a.razdel i.sub {
	position   : absolute;
	/*top        : 8px;*/
	right      : 5px;
	z-index    : 30;
	background : transparent;
	color      : inherit;
	line-height: initial;
}
#rmenu .ymailer a.razdel i.sub.green{
	color: var(--green) !important;
}
#rmenu .ymailer a.razdel i.sub.blue{
	color: var(--blue) !important;
}
#rmenu .ymailer a.razdel:hover i.sub,
#rmenu .ymailer a.razdel.active i.sub{
	color: #FFF !important;
}

#rmenu ul li .pops {
	padding : 0;
}
#rmenu ul li .pops:hover {
	background : transparent;
	color      : inherit;
}
#rmenu ul li .bullet {
	right : -2px;
}

#rmenu .popmenu {
	color : var(--black);
}

div.leftpop,
#rmenu div:not(.leftpop) > a.razdel {
	font-size     : 0.9em;
	border        : var(--gray5) 1px inset;
	border-bottom : 0;
	border-right  : 0;
	padding       : 0;
	border-radius : 50px;
	margin-bottom : 2px;
	margin-left   : 8px;
}

#rmenu div:not(.leftpop) > a.razdel:not(.active) {
	background : var(--gray2);
}

div.leftpop {
	margin-left : 8px;
	background  : var(--gray2) !important;
	padding     : 0 !important;
}

div.leftpop:hover {
	background : var(--blue2) !important;
}

div.leftpop:hover:before {
	position   : absolute;
	top        : -1px;
	left       : 18px;
	content    : "";
	width      : 18px;
	height     : 36px;
	background : var(--blue2);
	z-index    : -10;
}

div.leftpop ul {
	line-height   : initial;
	font-size     : 1.1em;
	border-radius : 0 10px 10px 0 !important;
	border        : 1px solid var(--blue2);
}

div.leftpop ul li:first-child,
div.leftpop ul li:first-child a:hover,
div.leftpop ul li:first-child a.active{
	border-radius : 0 9px 0 0 !important;
}

div.leftpop ul li:last-child,
div.leftpop ul li:last-child a:hover,
div.leftpop ul li:last-child a.active{
	border-radius : 0 0 9px 0 !important;
}

.leftpop .menu a.razdel {
	padding     : 0 0 0 10px !important;
	line-height : 32px;
}

@media (max-width : 1024px) {
	
	#rmenu .tabs a:not(.razdel),
	#rmenu .counters ul li,
	#rmenu .tabs a:not(.razdel),
	#rmenu a.razdel.pl5,
	#rmenu a.razdel.pr5,
	div.leftpop,
	#rmenu div:not(.leftpop) > a.razdel{
		width         : 32px;
		height        : 32px;
		line-height   : 30px;
	}
	
	div.leftpop,
	#rmenu div:not(.leftpop) > a.razdel,
	#rmenu .tabs a:not(.razdel),
	#rmenu .counters ul li {
		margin-left   : 4px;
	}
	
	div.leftpop:hover:before {
		top        : -1px;
		left       : 18px;
		width      : 18px;
		height     : 32px;
	}
	
	.leftpop .menu a.razdel {
		padding     : 0 0 0 5px !important;
	}
	.leftpop .menu a.razdel {
		line-height : 22px;
	}
	#rmenu a.razdel [class^="icon-"]::before,
	#rmenu a.razdel [class*=" icon-"]::before {
		/*margin-left: 0;*/
	}
	#rmenu ul li .bullet {
		margin-top: -4px;
	}
	
}

input[type="submit"],
a.period,
a.button,
a.button:link,
a.button:visited {
	padding               : 10px 15px;
	margin                : 0 8px 3px 0;
	color                 : var(--white);
	border                : 0 inset var(--black);
	border-radius         : 50px !important;
	-moz-border-radius    : 50px !important;
	-webkit-border-radius : 50px !important;
	box-shadow            : 0 0 0 0;
	-webkit-box-shadow    : 0 0 0 0;
	-moz-box-shadow       : 0 0 0 0;
}

a.button.bcancel {
	color: var(--white);
	background: var(--gray4);
	border: 0;
}

.flex-container a.button{
	padding: 5px 10px !important;
}

.ui-layout-west input, .ui-layout-west select {
	padding: 5px 15px;
}

input,
select {
	border-radius         : 20px;
	-moz-border-radius    : 20px;
	-webkit-border-radius : 20px;
	padding-left          : 15px;
	padding-right         : 15px;
}

.select::after {
	right : 5px;
}

textarea {
	border-radius         : 10px;
	-moz-border-radius    : 10px;
	-webkit-border-radius : 10px;
	padding               : 10px;
}

.like-input,
.ydropDown:not(.pipeline) {
	border-radius         : 20px;
	-moz-border-radius    : 20px;
	-webkit-border-radius : 20px;
}

#pid_list.like-input{
	padding: 2px !important;
}
#pid_list .pid_box {
	margin: 0 5px 0 0;
	padding-right: 10px !important;
	border-radius         : 20px;
	-moz-border-radius    : 20px;
	-webkit-border-radius : 20px;
	background: var(--biruza-lite) !important;
}
#pid_list .del {
	color: var(--biruza);
	background: var(--biruza-lite);
}

.ydropDown{
	padding: 5px 10px 5px 15px !important;
}

.dialog .ui-multiselect li.ui-element {
	border-radius         : 20px !important;
	-moz-border-radius    : 20px !important;
	-webkit-border-radius : 20px !important;
}

.filebox{
	background: transparent !important;
}

.idel{
	/*top: 10px;*/
}

#psdiv .but,
#tagbox .tags{
	border-radius: 15px;
	padding-left: 10px !important;
	padding-right: 10px !important;
	border: 1px solid transparent;
}

.infodiv,
.formdiv,
.warning,
.success,
.attention,
.div-info,
.viewdiv{
	border-radius: 7px;
}

.ul--group{
	padding-left: 15px;
}

#dialog{
	border-radius: 10px;
	border:0;
	background: var(--gray);
}
#dialog #resultdiv{
	background: var(--gray);
	border-top-left-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}
#dialog .zagolovok{
	background: var(--darkblue);
	border: 0;
	border-top-left-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}
#dialog .button--pane{
	border-radius: 0 0 10px 10px;
}
#dialog .close:hover {
	border-radius: 20px;
	color: var(--black);
	background: var(--orange-dark);
}

.ac_results{
	margin-left: 13px;
}
#divider b {
	background: var(--gray);
}

ul.group{
	border-radius: 20px !important;
	-moz-border-radius: 20px !important;
	-webkit-border-radius: 20px !important;
}
ul.group > li:first-child{
	border-radius: 20px 0 0 20px !important;
	-moz-border-radius: 20px 0 0 20px !important;
	-webkit-border-radius: 20px 0 0 20px !important;
}
ul.group > li:last-child{
	border-radius: 0 20px 20px 0 !important;
	-moz-border-radius: 0 20px 20px 0 !important;
	-webkit-border-radius: 0 20px 20px 0 !important;
}

#ytabs ul{
	border-radius: 10px 10px 0 0 !important;
	-moz-border-radius: 10px 10px 0 0 !important;
	-webkit-border-radius: 10px 10px 0 0 !important;
}
#ytabs ul li:first-child{
	border-radius: 10px 0 0 0 !important;
	-moz-border-radius: 10px 0 0 0 !important;
	-webkit-border-radius: 10px 0 0 0 !important;
}
#ytabs ul li:last-child{
	border-radius: 0 10px 0 0 !important;
	-moz-border-radius: 0 10px 0 0 !important;
	-webkit-border-radius: 0 10px 0 0 !important;
}

#head #close{
	padding: 10px 20px;
	border-radius: 0 0 20px 20px !important;
	-moz-border-radius: 0 0 20px 20px !important;
	-webkit-border-radius: 0 0 20px 20px !important;
}

#container.fcontainer{
	border-radius: 0 0 10px 10px !important;
	-moz-border-radius: 0 0 10px 10px !important;
	-webkit-border-radius: 0 0 10px 10px !important;
}

.card--steps .tstep{
	border: 1px outset transparent !important;
	/*box-shadow            : 1px 0 1px 0;
	-webkit-box-shadow    : 1px 0 1px 0;
	-moz-box-shadow       : 1px 0 1px 0;*/
}
.card--steps .tstep:first-child{
	border-radius: 50px 0 0 50px !important;
}
.card--steps .tstep.sclose{
	border-radius: 0 50px 50px 0 !important;
}
.card--steps .step div{
	border: 1px solid #FFF;
}
.card--steps .step:first-child div{
	border-radius: 50px 0 0 50px !important;
}
.card--steps .step.sclose div{
	border-radius: 0 50px 50px 0 !important;
}

#dtabs ul li{
	border-radius: 10px 10px 0 0 !important;
	-moz-border-radius: 10px 10px 0 0 !important;
	-webkit-border-radius: 10px 10px 0 0 !important;
}

fieldset,
.fcontainer{
	border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	-webkit-border-radius: 10px !important;
}

.a--group{
	background: transparent !important;
}
.a--group a.button {
	border-radius : 0 !important;
	margin: 0 !important;
}
.a--group a.button:first-child {
	border-radius : 50px 0 0 50px !important;
}
.a--group a.button:last-child {
	border-radius : 0 50px 50px 0 !important;
}

#dialog .flex-string.label {
	padding-left: 20px;
}