
.mainbg,
#lmenu,
#lmenu .contaner,
.ui-widget-content,
.ui-widget-header2,
.ui-layout-resizer{
	/*background:#e3e2e2;*/
	background:#ECF0F1;
	/*background:#ECF0F1;*/
	/*background:#F1C40F;*/
}

#lmenu,
#lmenu .contaner,
.ui-widget-header2,
.ui-layout-resizer{
	border-color:#ECF0F1;
}

.tableHeader table{
	border-top:1px solid #BDC3C7;
}
#last .tableHeader table{
	border-top:0px;
}

.ui-widget-content{
	border-right:0;
}
.ui-layout-center{
	border:transparent;
}

/*основной контент*/
#content, #contentdiv{
	background: #FFFFFF;
}

/*фон блока навигации по страницам*/
/*.pagecontainer .mainbg,
.pagecontainer .mainbg a{
	border:0;
	color:#FFF;
	background:#34495E;
}*/

/*фон нижней панели*/
/*#footpanel, .ui-layout-east{
	background:#2C3E50;
}
#footpanel ul li > a{
	color:#AAB2BD;
}*/

/*фон меню*/
#menu{
	background:#2C3E50;
}
#menu .hov{
	border-right: 1px solid #34495E;
}
#menu ul:hover{
	background: #34495E;
}
#menu ul ul {
	border-top:2px solid #e3e2e2;
}
#menu ul ul,
#menu ul ul:hover,
#menu a.navlink:link,
#menu a.navlink:visited {
	color:#FFF;
	background:#34495E;
}
#menu a.navlink:hover{
	color:#34495E;
	background: #FFF;
}
#menu ul ul li.header{
	color:#E6E9ED;
}
#menu ul > .top-triangle-white{
	border-bottom: 7px solid #34495E;
}
#menu hr{
	border-bottom: 1px solid #2C3E50;
}
#menu .useravatar hr{
	border-bottom: 1px solid #ECF0F1;
}
	#menu .useravatar:hover{
		background:#34495E;
	}
	#menu .avatar-subtext{
		color:#ECF0F1;
	}

/*различные кнопки*/
.bl2{
	color:#FFF;
	background: #34495E;
	border: 1px solid #34495E;
}
.bl2:hover{
	color:#FFF;
	background: #16A085;
	border: 1px solid #16A085;
}

/*a.button, input.button, a.button:link, a.button:visited{
	color:#222;
	background: #ECF0F1;
	border: 1px solid #BDC3C7;
	line-height: 20px;
}
a.button:hover {
	background: #03A9F4;
	border: 1px solid #2196F3;
	color:#fff;
}*/

/*Кнопка Добавить обращение*/
.contaner > a.button {
	color:#222;
	background: #FFCE54;
	border:0px;
	margin: 0px 2px;
	padding: 10px;
}
.contaner > a.button:hover {
	color:#222;
	background: #F6BB42;
}

.ha:hover{
	background: rgba(255, 207, 83, 0.3);
}

/*popup*/
.popmenu, .popmenu-top, .submenu{
	border:#4A89DC 1px solid;
	-webkit-box-shadow: 0px 1px 3px #4A89DC;
		-moz-box-shadow: 0px 1px 3px #4A89DC;
		box-shadow: 0px 1px 3px #4A89DC;
}
	.popmenu .popheader{
		color:#FFF;
		background: #4A89DC;
	}
	.popmenu .popheader .blue{
		color:#FFF;
	}

.triangle{
	border-top: 7px solid #4A89DC;
}
.top-triangle{
	border-bottom: 7px solid #4A89DC;
}

/*карточка*/
#head #close{
	/*top:-10px;*/
	border:1px solid #34495E;
	border-top:0;
	background:#F6BB42;
	font-size:0.80em;
	color: #34495E;
	line-height: 0.95em;
	padding: 5px 10px;
}
#head #close:hover{
	border:1px solid #34495E;
	border-top:0;
	background:#FFFFFF;
	color: #34495E;
}

.fixx{
	color:#FFF;
	background: #34495E;
	border-bottom:1px solid #2C3E50;
}
	.fixx #ctitle .blue,
	.fixx #ctitle a{
		color:#BDC3C7;
	}

#dtabs ul li {
	color: #FFF;
	background:#2C3E50;
	border: 1px solid #2C3E50;
}
#dtabs ul li:hover {
	border: 1px solid #CCD1D9;
	border-bottom:0px;
}
#dtabs ul li a{
	color: #FFF;
}

fieldset .batton-edit a,
fieldset .batton-edit a .blue{
	color:#2C3E50;
}

/*элементы ui.jquery*/
.ui-state-active, .ui-widget-content .ui-state-active,
.mainbg .contaner,
.mainbg .ui-tabs-nav,
#tab_container,
#dttabs .ui-state-active{
	border-color: #BDC3C7;
}

#tab_container,
#tab_container .blue{
	color:#222;
}

/*список дел в левой панели*/
#taskweek .header{
	color:#222;
	background:#F5F7FA;
	border-color:#F5F7FA;
}
