:root {
	--yellow        : rgba(255, 160, 0, 1);
	--yellow-alfa08 : rgba(255, 160, 0, .8);
	--yellow-alfa06 : rgba(255, 160, 0, .6);
	--yellow-alfa04 : rgba(255, 160, 0, .4);
	--yellow-alfa02 : rgba(255, 160, 0, .2);
	--yellow-dark   : rgba(121,85,72 ,1);
	--yellow-lite   : rgba(255, 213, 79, 1);
	--blue          : rgba(21, 101, 192, 1);
	--blue2         : rgba(59, 110, 170, 1);
	--blue-alfa10   : rgba(21, 101, 192, 1);
	--blue-alfa08   : rgba(21, 101, 192, .8);
	--blue-alfa06   : rgba(21, 101, 192, .6);
	--blue-alfa04   : rgba(21, 101, 192, .4);
	--blue-alfa02   : rgba(21, 101, 192, .2);
	--red-alfa10    : rgba(211, 47, 47, 1);
	--red-alfa08    : rgba(211, 47, 47, .8);
	--red-alfa06    : rgba(211, 47, 47, .6);
	--red-alfa04    : rgba(211, 47, 47, .4);
	--red-alfa02    : rgba(211, 47, 47, .2);
	--darkblue      : rgba(13, 71, 161, 1);
	--liteblue      : rgba(33, 150, 243, 1);
	--white         : rgba(255, 255, 255, 1);
	--white-alfa01  : rgba(255, 255, 255, .1);
	--scrollbar     : #999;
	--black         : #222;
	--gray          : #ECF0F1;
	--gray2         : #EEE;
	--gray3         : #2C3E50;
	--gray4         : #607D8B;
	--gray5         : #8899A6;
	--gray6         : rgba(84, 110, 122, 0.6);
	--gray7         : rgba(179, 229, 252, 0.3);
	--green         : rgba(85, 139, 47, 1);
	--green-alfa09  : rgba(85, 139, 47, .9);
	--green-alfa08  : rgba(85, 139, 47, .8);
	--green-alfa06  : rgba(85, 139, 47, .6);
	--green-alfa04  : rgba(85, 139, 47, .4);
	--green-alfa02  : rgba(85, 139, 47, .2);
	--green-dark    : rgba(51, 105, 30, 1);
	--green-lite    : rgba(197, 225, 165, 1);
	--orange        : #FFCE54;
	--orange-dark   : #F6BB42;
	--orange-lite   : #FFE082;
	--mint          : #4FC3F7;
	--biruza        : #90CAF9;
	--biruza-lite   : #D0E5F5;
}


#logo{
/*
	background: url(/assets/images/logo.png) no-repeat center center !important;
	background-size: contain !important;
*/
	filter: brightness(0%);
}


body, html,
.mainbg,
#lmenu,
#lmenu .contaner,
.ui-widget-header2,
.ui-layout-resizer {
	background : var(--gray);
}

#lmenu,
#lmenu .contaner,
.ui-widget-header2,
.ui-layout-resizer,
.ui-widget-content {
	border-color : var(--gray);
}

.ui-layout-west,
#lmenu,
#lmenu .contaner {
	background : var(--gray2);
}

.tableHeader table {
	border-top : 1px solid #E6E9ED;
}

#last .tableHeader table {
	border-top : 0;
}

.ui-widget-content > a.menu {
	border-right : 0;
	background   : #F5F7FA;
	border-color : #F5F7FA;
}

.ui-widget-content > a.menu:hover {
	border-right : 0;
	background   : #ECF0F1;
	border-color : #ECF0F1;
}

.ui-layout-center {
	border : transparent;
}

/*основной контент*/
#content, #contentdiv {
	background : var(--white);
}

body,
html,
.ui-layout-center,
#telo,
#content,
#contentdiv{
	background : linear-gradient(
			rgba(250,250,250 ,.9),
			rgba(250,250,250 ,.95)
	),
	url(/assets/images/bg/555870fb447f530.jpg) repeat;
}

/*фон меню*/
#dttabs .ui-state-active a {
	color : var(--yellow-dark);
}

.ui-layout-north {
	background : var(--yellow);
}

.menu--block,
#menu {
	background : linear-gradient(
			var(--yellow),
			var(--yellow-alfa04)
	),
	url(../../images/bg/555870fb447f530.jpg) repeat,
	var(--yellow-lite);
}

.menu--block,
#menu{
	background: rgba(25,118,210 ,1);
	background: -moz-linear-gradient(left, var(--yellow-alfa08) 0%, var(--green-alfa09) 90%), url(/assets/images/bg/555870fb447f536.png) repeat;
	background: -webkit-linear-gradient(left, var(--yellow-alfa08) 0%,var(--green-alfa09) 90%), url(/assets/images/bg/555870fb447f536.png) repeat;
	background: linear-gradient(to right, var(--yellow-alfa08) 0%,var(--green-alfa09) 90%), url(/assets/images/bg/555870fb447f536.png) repeat;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d81b60', endColorstr='#ff9800',GradientType=1 );
}

#menu .hov {
}

#menu ul li {
}

#menu ul li a {
	/*color      : var(--white);
	text-shadow   : 0 1px 1px rgba(0, 0, 0, 0.7);*/
	color      : var(--black);
}

#menu ul:hover {
	background : var(--green);
	color      : var(--white);
}

#menu ul:hover li a {
	color      : var(--white);
}

#menu ul ul {
	border-top : 2px solid var(--gray);
	background : var(--green) !important;
	text-shadow   : 0 0 0 rgba(0, 0, 0, 0);
}

#menu ul ul li a {
	text-shadow   : 0 0 0 rgba(0, 0, 0, 0);
}

#menu a.navlink:link,
#menu a.navlink:visited {
	background : var(--green) !important;
}

#menu a.navlink:hover {
	color      : var(--green);
	background : var(--yellow-lite) !important;
}

#menu a.navlink:hover svg use {
	fill : var(--white) !important;
}

#menu ul ul li.header {
	color : var(--green-lite);
}

#menu ul > .top-triangle-white {
	border-bottom : 7px solid var(--green);
}

#menu hr {
	background : var(--green);
}

#menu ul ul:after {
	border-bottom-color : var(--green);
}

#menu ul ul ul.sub::after {
	border-left-color: var(--green);
}

#menu .hov {
	border-right : 0;
}

#menuavatar hr {
	border-bottom : 1px solid var(--gray);
}

#menuavatar:hover {
	background : var(--blue);
}
#menuavatar .avatar-user {
	color      : var(--white);
	font-weight: 700;
}
#menuavatar .avatar-subtext {
	color      : var(--white);
	font-weight: 400;
}
#menuavatar:hover .avatar-user,
#menuavatar:hover .avatar-subtext {
	color      : var(--white);
}

/**
Меню аватара
 */
.avatar--menu{
	color              : var(--white);
	background         : var(--blue);
	border             : var(--blue) 1px solid;
}
.avatar--menu:after {
	border-color        : rgba(255, 255, 255, 0);
	border-bottom-color : var(--blue);
}
.avatar--menu:before {
	border-color        : rgba(255, 255, 255, 0);
	border-bottom-color : var(--blue);
}
.avatar--menu .item:first-child {
	border-right : 1px solid var(--blue2);
}

.avatar--menu .item .string {
	color                 : #FFF;
	border-bottom         : 1px dotted var(--blue2);
}
.avatar--menu .item .string.green {
	color      : var(--mint);
}
.avatar--menu .item .string .blue {
	color      : var(--darkblue);
}
.avatar--menu .item .string:hover {
	background-color : var(--gray-darkblue);
}
.avatar--menu .item .string:hover .blue{
	color      : var(--mint);
}
.avatar--menu .item .title {
	color          : var(--liteblue);
	border-bottom  : 1px solid var(--blue2);
}
.avatar--menu .item hr {
	border-bottom   : 1px dotted var(--blue2);
}
.avatar--menu .product{
	color: #222;
}
.avatar--menu .product a,
.avatar--menu .product .blue{
	color      : var(--mint);
}

.redbg.toggler {
	background : var(--red-alfa08);
	color      : var(--gray) !important;
}
.bluebg.toggler {
	background : var(--blue-alfa08);
	color      : var(--gray) !important;
}
.greenbg.toggler {
	background : var(--green-alfa08);
	color      : var(--gray) !important;
}

/*Кнопка Добавить обращение*/
.contaner > a.button {
	color      : var(--black);
	background : var(--orange-dark);
	border     : 0;
	margin     : 0 2px;
	padding    : 10px;
}
.contaner > a.button:hover {
	color      : var(--black);
	background : var(--orange-dark);
}

.ha:hover {
	background : var(--gray7);
}

/*popup*/
.popmenu,
.popmenu-top,
.submenu {

}

#rmenu .pophead {
	color      : var(--white) !important;
	background : var(--green) !important;
}
#rmenu .popmenu .popheader{
	color      : var(--black) !important;
	background : var(--green-lite) !important;
}
#rmenu .viewdiv {
	border-radius : 1px !important;
}
#rmenu .popmenu .popheader .blue {
	color : var(--black) !important;
}
#rmenu a:hover, #rmenu a.active, #rmenu a.active i, a:hover i.my {
	background: var(--green);
}

.popcontent .clink a:hover,
.popcontent .clink:hover,
.submenu a.menu:hover {
	background : var(--gray) !important;
}

.triangle {
	border-top : 7px solid var(--green);
}

.top-triangle {
	border-bottom : 7px solid var(--green);
}

/*карточка*/
#head #close {
	border      : 0;
	background  : var(--black);
	font-size   : 0.70em;
	color       : var(--white);
	line-height : 1.15em;
	padding     : 5px 10px;
}

#head #close:hover {
	border     : 0;
	background : var(--blue);
	color      : var(--white);
}

.fixx {
	/*
	color      : var(--black);
	background : linear-gradient(
			var(--yellow-alfa02),
			var(--yellow-alfa08)
	),
	url(../../images/bg/555870fb447f530.jpg) repeat;
	*/
	background: rgba(25,118,210 ,1);
	background: -moz-linear-gradient(left, var(--yellow-alfa08) 0%, var(--green-alfa08) 100%), url(/assets/images/bg/555870fb447f536.png) repeat;
	background: -webkit-linear-gradient(left, var(--yellow-alfa08) 0%,var(--green-alfa08) 100%), url(/assets/images/bg/555870fb447f536.png) repeat;
	background: linear-gradient(to right, var(--yellow-alfa08) 0%,var(--green-alfa08) 100%), url(/assets/images/bg/555870fb447f536.png) repeat;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d81b60', endColorstr='#ff9800',GradientType=1 );
}

.fixx #ctitle .elipsis{
	color      : var(--black);
}
.fixx #ctitle .blue,
.fixx #ctitle a {
	color : var(--green-dark);
}

#dtabs ul li {
	color      : var(--white);
	background : var(--green-alfa06);
}

#dtabs ul li:hover,
#dtabs ul li a:hover {
	border-bottom : 0;
	color         : var(--white);
	background    : var(--blue-alfa10);
}

#dtabs ul li a,
#dtabs ul li:hover a {
	color : var(--white);
}
#dtabs ul li.current:hover a {
	color      : var(--black);
	background : var(--gray);
}

#dtabs .current {
	border-bottom : 1px solid var(--gray);
	background    : var(--gray);
}
#dtabs .current:hover {
	border-bottom : 1px solid var(--gray);
	background    : var(--gray);
	font-weight   : bold;
}

fieldset {
}
fieldset .batton-edit a,
fieldset .batton-edit a .blue {
}

/*элементы ui.jquery*/
.ui-state-active > #dialog, .ui-widget-content .ui-state-active > #dialog,
.mainbg .contaner,
.mainbg .ui-tabs-nav,
#tab_container,
#dttabs .ui-state-active,
#accordion .ui-state-active {
}

#accordion .ui-state-default {
}

.ui-widget-header > #dialog {
}

.ui-state-default > #dialog,
.ui-widget-content .ui-state-default > #dialog {
}

/*#dttabs .ui-state-default a,*/
#accordion .ui-state-default a {
}

#accordion .ui-state-default:not(.ui-state-active) a:hover {
	/*color:#FFF;*/
}

#accordion .ui-state-active a:hover {
}

#tab_container:hover,
#accordion .ui-state-default:not(.ui-state-active):hover {
	/*background: none;
	color:#fff;*/
}

.ui-state-default a > #dialog,
.ui-state-default a:link > #dialog,
.ui-state-default a:visited > #dialog {
}

#accordion .ui-state-active,
#accordion .ui-widget-content .ui-state-active,
.ui-state-active > #dialog,
.ui-widget-content .ui-state-active > #dialog {
}

#tab_container,
#tab_container .blue {
	color : var(--black);
}

/*список дел в левой панели*/
#taskweek .header {
	color        : var(--black);
	background   : var(--gray);
	border-color : var(--gray);
}

#entrybutton .button {
	background : var(--liteblue);
	color      : var(--white);
}
#entrybutton .button:hover {
	background : var(--orange-dark);
}

#swindow .header {
	background : linear-gradient(
			var(--green-alfa08),
			var(--green-alfa04),
	);
	background : var(--green-lite);
	color      : var(--green);
}
#swindow .closer {
	color : var(--green);
}

/*.tableHeader .header_contaner,
.tableHeader .header_contaner a,
.tableHeader .header_contaner a:link,
.tableHeader .header_contaner a:visited,
.tableHeader thead,
.tableHeader thead th {
	background   : var(--yellow-lite);
	color        : var(--black) !important;
	border-right : var(--green) !important;
}*/

/*#resultdiv .header_contaner th {
	background   : var(--green-lite) !important;
	color        : var(--black) !important;
	border-right : var(--green) !important;
}*/

#dtpCalFilter .blue {
	color : var(--liteblue) !important;
}

/*скругленные элементы*/

#rmenu .tabs a:not(.razdel),
#rmenu .counters ul li {
	background : var(--gray2) !important;
}
#rmenu .counters ul li:hover {
	background : var(--green) !important;
}
#rmenu .counters ul li:hover .pops {
	color      : var(--white) !important;
	background : var(--green) !important;
}
#rmenu .tabs a.lpToggler {
	background : var(--yellow) !important;
	color      : var(--white) !important;
}
#rmenu .tabs a:hover {
	background : var(--green) !important;
}
#rmenu .tabs a.razdel:not(.active):not(:hover) .bullet {
	color : var(--black) !important;
}
#rmenu a.razdel.redbg-dark {
	background : var(--red-alfa10) !important;
}
#rmenu a.razdel.greenbg-dark {
	background : var(--green-lite) !important;
}
#rmenu a.razdel .bullet {
	color : var(--white) !important;
}
#rmenu a.razdel i {
	position : relative;
}
#rmenu a.razdel i i {
	/*position : absolute;*/
	/*top      : -15px;*/
	/*right    : -15px;*/
}
#rmenu a.active {
	font-size : 0.7em;
}
#rmenu a.active i i {
	background : transparent;
}
#rmenu .ymailer a.razdel i {
	position : relative;
}
#rmenu .ymailer a.razdel i.sub.green {
	color : var(--green) !important;
}
#rmenu .ymailer a.razdel i.sub.blue {
	color : var(--green) !important;
}
#rmenu .popmenu {
	color : var(--black);
}
#rmenu div:not(.leftpop) > a.razdel:not(.active) {
	background : var(--gray2);
}

div.leftpop {
	background : var(--gray2) !important;
}
div.leftpop:hover {
	background : var(--green) !important;
}
div.leftpop:hover:before {
	background : var(--blue2);
}

@media (max-width : 1024px) {

	#rmenu a.razdel [class^="icon-"]::before,
	#rmenu a.razdel [class*=" icon-"]::before {
		/*margin-left: 0;*/
	}

}

a.button.bcancel {
	color      : var(--white);
	background : var(--gray4);
}

.flex-container a.button {
	padding : 5px 10px !important;
}

.ui-layout-west input,
.ui-layout-west select {
	padding : 5px 15px;
}

#pid_list .del {
	color      : var(--biruza);
	background : var(--biruza-lite);
}

.filebox {
	background : transparent !important;
}

#dialog {
	border     : 0;
	background : var(--gray);
}

#dialog #resultdiv {
	background : var(--gray);
}

#dialog .zagolovok {
	/*
	background : linear-gradient(
			var(--yellow),
			var(--yellow-alfa06)
	),
	url(../../images/bg/555870fb447f530.jpg) repeat;
	*/
	background: var(--yellow);
	background: -moz-linear-gradient(left, var(--yellow-alfa08) 0%, var(--green-alfa08) 100%), url(/assets/images/bg/50563f647d4b36a.jpg) repeat;
	background: -webkit-linear-gradient(left, var(--yellow-alfa08) 0%,var(--green-alfa08) 100%), url(/assets/images/bg/50563f647d4b36a.jpg) repeat;
	background: linear-gradient(to right, var(--yellow-alfa08) 0%,var(--green-alfa08) 100%), url(/assets/images/bg/50563f647d4b36a.jpg) repeat;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d81b60', endColorstr='#ff9800',GradientType=1 );
	border     : 0;
	padding: 15px;
	color: var(--black);
}

#dialog .close {
	margin-top: 5px;
	color      : var(--black);
}
#dialog .close:hover {
	color      : var(--black);
	background : var(--orange-dark);
}

#divider b {
	background : var(--gray);
}

.card--steps .tstep {
	border : 1px outset transparent !important;
}

.card--steps .step div {
	border : 1px solid #FFF;
}

input[type="submit"],
a.period,
a.button,
a.button:link,
a.button:visited {
	padding    : 10px 15px;

}

#dialog input[type="submit"],
#dialog a.period,
#dialog a.button,
#dialog a.button:link,
#dialog a.button:visited {
	padding    : 10px 15px;
	margin     : 0 8px 3px 0;
	color      : var(--black);
	border     : 0 inset var(--black);
	background : var(--green);
	background: var(--yellow);
	background: -moz-linear-gradient(left, var(--yellow-alfa08) 0%, var(--green-alfa08) 100%), url(/assets/images/bg/50563f647d4b36a.jpg) repeat;
	background: -webkit-linear-gradient(left, var(--yellow-alfa08) 0%,var(--green-alfa08) 100%), url(/assets/images/bg/50563f647d4b36a.jpg) repeat;
	background: linear-gradient(to right, var(--yellow-alfa08) 0%,var(--green-alfa08) 100%), url(/assets/images/bg/50563f647d4b36a.jpg) repeat;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d81b60', endColorstr='#ff9800',GradientType=1 );
}

#dialog a.button:hover,
#dialog a.button:link:hover,
#dialog a.button:visited:hover {
	color      : var(--white);
	background : var(--green-dark);
}

#dialog a.button.bcancel {
	color      : var(--white);
	background : var(--gray4);
	border     : 0;
	background: var(--yellow);
	background: -moz-linear-gradient(left, rgba(84, 110, 122, 0.9) 0%, rgba(84, 110, 122, 0.7) 100%), url(/assets/images/bg/50563f647d4b36a.jpg) repeat;
	background: -webkit-linear-gradient(left, rgba(84, 110, 122, 0.9) 0%, rgba(84, 110, 122, 0.7) 100%), url(/assets/images/bg/50563f647d4b36a.jpg) repeat;
	background: linear-gradient(to right, rgba(84, 110, 122, 0.9) 0%, rgba(84, 110, 122, 0.7) 100%), url(/assets/images/bg/50563f647d4b36a.jpg) repeat;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d81b60', endColorstr='#ff9800',GradientType=1 );
}

#dialog a.button.bcancel:hover {
	color      : var(--white);
	background : var(--gray3);
	border     : 0;
}

.viget{
	background : linear-gradient(
			rgba(250,250,250 ,.8),
			rgba(250,250,250 ,.95)
	);
}