body, html,
.mainbg,
#lmenu,
#lmenu .contaner,
.ui-widget-header2,
.ui-layout-resizer{
	background:#ECF0F1;
}

#lmenu,
#lmenu .contaner,
.ui-widget-header2,
.ui-layout-resizer,
.ui-widget-content{
	border-color:#ECF0F1;
}

.ui-layout-west,
#lmenu,
#lmenu .contaner{
	background: #EEEEEE;
}

.tableHeader table{
	border-top:1px solid #E6E9ED;
}
#last .tableHeader table{
	border-top:0;
}

.ui-widget-content > a.menu{
	border-right:0;
	background:#F5F7FA;
	border-color:#F5F7FA;
}
.ui-widget-content > a.menu:hover{
	border-right:0;
	background:#ECF0F1;
	border-color:#ECF0F1;
}

.ui-layout-center{
	border:transparent;
}

/*основной контент*/
#content, #contentdiv{
	background: #FFFFFF;
}

/*фон меню*/
#dttabs .ui-state-active a{
	color:#3B6EAA;
}

.ui-layout-north{
	background: rgba(59, 110, 170, 1.0);
}

.menu--block,
#menu{
	background:
			linear-gradient(
					rgba(59, 110, 170, 0.3),
					rgba(59, 110, 170, 0.1)
			),
			url(/assets/images/bg/blue.png) repeat,
			rgba(59, 110, 170, 1.0);
}
#menu .hov{
}
#menu ul li{
}
#menu ul li a{
}
#menu ul:hover{
	background: rgba(59, 110, 170, 1);
	color:#222;
}
#menu ul ul {
	border-top:2px solid #e3e2e2;
	background: rgba(59, 110, 170, 1) !important;
}

#menu a.navlink:link,
#menu a.navlink:visited {
	background: rgba(59, 110, 170, 1) !important;
}
#menu a.navlink:hover{
	color:#fff;
	background: #039BE5 !important;
}
#menu a.navlink:hover svg use{
	fill: #FFF !important;
}
#menu ul ul li.header{
	color:#E6E9ED;
}
#menu ul > .top-triangle-white{
	border-bottom: 7px solid rgba(59, 110, 170, 1);
}
#menu hr{
	background: rgba(59, 110, 170, 1);
}
#menu ul ul:after {
	border-bottom-color: rgba(59, 110, 170, 1);
}
#menuavatar ul ul ul.sub:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: rgba(59, 110, 170, 1);
	border-width: 7px;
	margin-top: -7px;
}
#menuavatar hr{
	border-bottom: 1px solid #ECF0F1;
}
	#menuavatar:hover{
		background: rgba(59, 110, 170, 1);
	}
	#menuavatar .avatar-subtext{
		color:#ECF0F1;
	}

/**
Меню аватара
*/
.avatar--menu{
	color              : var(--white);
	background         : rgba(59, 110, 170, 1);
	border             : #01579B 1px solid;
}
.avatar--menu:after {
	border-color        : rgba(255, 255, 255, 0);
	border-bottom-color : #01579B;
}
.avatar--menu:before {
	border-color        : rgba(255, 255, 255, 0);
	border-bottom-color : rgba(59, 110, 170, 1);
}
.avatar--menu .item:first-child {
	border-right : 1px dotted #01579B;
}

.avatar--menu .item .string {
	color                 : #FFF;
	border-bottom         : 1px dotted #01579B;
}
.avatar--menu .item .string.green {
	color      : #3F729B;
}
.avatar--menu .item .string .blue {
	color      : var(--gray-darkblue);
}
.avatar--menu .item .string .gray2 {
	color      : var(--gray);
}
.avatar--menu .item .string .gray {
	color      : var(--gray) !important;
}
.avatar--menu .item .string:hover {
	background-color : var(--gray-darkblue);
}
.avatar--menu .item .string:hover .blue{
	color      : var(--mint);
}
.avatar--menu .item .title {
	color          : #34495E;
	border-bottom  : 1px dotted var(--blue2);
}
.avatar--menu .item hr {
	border-bottom   : 1px dotted var(--blue2);
}
.avatar--menu .product{
	color: #222;
}
.avatar--menu .product a,
.avatar--menu .product .blue{
	color      : var(--mint);
}

/*различные кнопки*/
.bl2:hover{
	color:#FFF;
	background: #0D47A1;//#34495E;
	border: 1px solid #0D47A1;//#34495E;
}
.bl2{
	color:#FFF;
	background: #536DFE;
	border: 1px solid #536DFE;
}

/*Кнопка Добавить обращение*/
.contaner > a.button {
	color:#222;
	background: #FFCE54;
	border:0;
	margin: 0 2px;
	padding: 10px;
}
.contaner > a.button:hover {
	color:#222;
	background: #F6BB42;
}

.ha:hover{
	background: rgba(179,229,252,0.3);
}

/*popup*/
.popmenu, .popmenu-top, .submenu{

}
	.popmenu .popheader{
		color:#FFF;
		background: rgba(59, 110, 170, 1);
	}
	.popmenu .popheader .blue{
		color:#FFF;
	}
	.popcontent .clink a:hover,
	.popcontent .clink:hover,
	.submenu a.menu:hover{
		background: #E1F5FE;
	}

.triangle{
	border-top: 7px solid rgba(59, 110, 170, 1);//#4A89DC;
}
.top-triangle{
	border-bottom: 7px solid rgba(59, 110, 170, 1);//#4A89DC;
}

/*карточка*/
#head #close{
	/*top:-10px;*/
	border:1px solid rgba(59, 110, 170, 1);//#34495E;
	border-top:0;
	background:#F6BB42;
	font-size:0.70em;
	color: #222;
	line-height: 1.15em;
	padding: 5px 10px;
}
#head #close:hover{
	border:1px solid rgba(59, 110, 170, 1);//#34495E;
	border-top:0;
	background:#FFFFFF;
	color: rgba(59, 110, 170, 1);//#34495E;
}

.fixx{
	color:#FFF;
	background:
			linear-gradient(
					rgba(59, 110, 170, 0.5),
					rgba(59, 110, 170, 0.9)
			),
			url(../../images/bg/blue.png) repeat;
}
	.fixx #ctitle .blue,
	.fixx #ctitle a{
		color:#BDC3C7;
	}

#dtabs ul li {
	color: #FFF;
	background:rgba(59, 110, 170, 0.7);
}
#dtabs ul li:hover,
#dtabs ul li a:hover {
	border-bottom:0;
	color:#FFF;
	background: #FFA000;
}
#dtabs ul li a,
#dtabs ul li:hover a{
	color: #FFF;
}
#dtabs ul li.current:hover a{
	color: #222;
	background:#F7F7EE;
}

fieldset{
}

fieldset .batton-edit a,
fieldset .batton-edit a .blue{
}

/*элементы ui.jquery*/
.ui-state-active > #dialog, .ui-widget-content .ui-state-active > #dialog,
.mainbg .contaner,
.mainbg .ui-tabs-nav,
#tab_container,
#dttabs .ui-state-active,
#accordion .ui-state-active{
}

#accordion .ui-state-default{
}

.ui-widget-header > #dialog{
}

.ui-state-default > #dialog,
.ui-widget-content .ui-state-default > #dialog{
}

/*#dttabs .ui-state-default a,*/
#accordion .ui-state-default a{
}
#accordion .ui-state-default:not(.ui-state-active) a:hover{
	/*color:#FFF;*/
}
#accordion .ui-state-active a:hover{
}

#tab_container:hover,
#accordion .ui-state-default:not(.ui-state-active):hover{
	/*background: none;
	color:#fff;*/
}
.ui-state-default a > #dialog,
.ui-state-default a:link > #dialog,
.ui-state-default a:visited > #dialog{
}

#accordion .ui-state-active,
#accordion .ui-widget-content .ui-state-active,
.ui-state-active > #dialog,
.ui-widget-content .ui-state-active > #dialog{
}

#tab_container,
#tab_container .blue{
	color:#222;
}

/*список дел в левой панели*/
#taskweek .header{
	color:#222;
	background:#F5F7FA;
	border-color:#F5F7FA;
}

#entrybutton .button{
	background: #039BE5;
	color: #fff;
}
#entrybutton .button:hover{
	background: #FFA000;
}

#footpanel .adder{
	color: #2E658D;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
#footpanel .adder:hover{
	background: #F5F7FA;
	color:#2E658D;
}
#footpanel .adder:hover a {
	color: #2E658D;
}

#footpanel .pops {
	background: rgba(59, 110, 170, 1);
	border: 0 solid rgba(59, 110, 170, 1);

	padding-bottom: 1px;
	box-shadow: 0 0 2px #222;
	-webkit-box-shadow: 0 0 2px #222;
	-moz-box-shadow: 0 0 2px #222;
}
#footpanel .pops:after, #footpanel .pops:before {
}
#footpanel .pops:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: rgba(59, 110, 170, 1);
}
#footpanel .pops:before {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: rgba(59, 110, 170, 1);
}

#footpanel .pops .clink i{
	color: #fff;
}
#footpanel .pops .clink{
	color: #F5F7FA;
	opacity: 1.0;
	border: 1px solid transparent;
}
#footpanel .pops .clink:hover{
	opacity: 1.0;
	color: #2980B9;
	background: #fff;
}
#footpanel .pops .clink:hover i{
	color: #2980B9;
}

#swindow .header {
	background:
			linear-gradient(
					rgba(0,121,107 ,.9),
					rgba(0,121,107 ,.5)
			);
	background: rgba(0,121,107 ,1);
	color: #F5F7FA;
}
#swindow .closer {
	color: rgba(38,166,154 ,1);
}