body, html,
.mainbg,
#lmenu,
#lmenu .contaner,
.ui-widget-header2,
.ui-layout-resizer{
	background:#ECF0F1;
}

#lmenu,
#lmenu .contaner,
.ui-widget-header2,
.ui-layout-resizer,
.ui-widget-content{
	border-color:#ECF0F1;
}

.ui-layout-west,
#lmenu,
#lmenu .contaner{
	background: #EEEEEE;
}

.tableHeader table{
	border-top:1px solid #E6E9ED;
}
#last .tableHeader table{
	border-top:0;
}

/*.ui-widget-content,*/
.ui-widget-content > a.menu{
	border-right:0;
	background:#F5F7FA;
	border-color:#F5F7FA;
}
.ui-widget-content > a.menu:hover{
	border-right:0;
	background:#ECF0F1;
	border-color:#ECF0F1;
}

.ui-layout-center{
	border:transparent;
}

/*основной контент*/
#content, #contentdiv{
	background: #FFFFFF;
}

/*фон блока навигации по страницам*/
/*.pagecontainer .mainbg,
.pagecontainer .mainbg a{
	border:0;
	color:#FFF;
	background:#34495E;
}*/

/*фон нижней панели*/
/*#footpanel, .ui-layout-east{
	background:#2C3E50;
}
#footpanel ul li > a{
	color:#AAB2BD;
}*/

/*фон меню*/
.menu--block,
#menu{
	background:#2C3E50;
}
#menu .hov{
	border-right: 1px solid #34495E;
}
#menu ul:hover{
	background: #01579B;
}
#menu ul ul {
	border-top:2px solid #e3e2e2;
}
#menu ul ul,
#menu ul ul:hover,
#menu a.navlink:link,
#menu a.navlink:visited {
	color:#FFF;
	background:#01579B;
}
#menu a.navlink:hover{
	color:#FFF;
	background: #34495E;
}
#menu a.navlink:hover svg use{
	fill: #FFF !important;
}
#menu ul ul li.header{
	color:#E6E9ED;
}
#menu ul > .top-triangle-white{
	border-bottom: 7px solid #01579B;
}
#menu hr{
	border-bottom: 1px solid #01579B;
}
#menu ul ul:after {
	border-bottom-color: #01579B;
}
#menu ul ul ul.sub{
	background:#01579B;
}
#menu ul ul ul.sub:after {
	border-left-color: #01579B;
}

#menuavatar hr{
	border-bottom: 1px solid #ECF0F1;
}
	#menuavatar:hover{
		background:#01579B;
	}
	#menuavatar .avatar-subtext{
		color:#ECF0F1;
	}

/**
Меню аватара
 */
.avatar--menu{
	color              : var(--white);
	background         : #3F729B;
	border             : #34495E 1px solid;
}
.avatar--menu:after {
	border-color        : rgba(255, 255, 255, 0);
	border-bottom-color : #34495E;
}
.avatar--menu:before {
	border-color        : rgba(255, 255, 255, 0);
	border-bottom-color : #3F729B;
}
.avatar--menu .item:first-child {
	border-right : 1px dotted #01579B;
}

.avatar--menu .item .string {
	color                 : #FFF;
	border-bottom         : 1px dotted #01579B;
}
.avatar--menu .item .string.green {
	color      : #3F729B;
}
.avatar--menu .item .string .blue {
	color      : var(--gray-darkblue);
}
.avatar--menu .item .string .gray2 {
	color      : var(--gray);
}
.avatar--menu .item .string:hover {
	background-color : var(--gray-darkblue);
}
.avatar--menu .item .string:hover .blue{
	color      : var(--mint);
}
.avatar--menu .item .title {
	color          : #34495E;
	border-bottom  : 1px solid #01579B;
}
.avatar--menu .item hr {
	border-bottom   : 1px dotted var(--blue2);
}
.avatar--menu .product{
	color: #222;
}
.avatar--menu .product a,
.avatar--menu .product .blue{
	color      : var(--mint);
}

/*различные кнопки*/
.bl2:hover{
	color:#FFF;
	background: #34495E;
	border: 1px solid #34495E;
}
.bl2{
	color:#FFF;
	background: #4A89DC;
	border: 1px solid #4A89DC;
}

/*a.button, input.button, a.button:link, a.button:visited{
	color:#222;
	background: #ECF0F1;
	border: 1px solid #BDC3C7;
	line-height: 20px;
}
a.button:hover {
	background: #03A9F4;
	border: 1px solid #2196F3;
	color:#fff;
}*/

/*Кнопка Добавить обращение*/
.contaner > a.button {
	color:#222;
	background: #FFCE54;
	border:0px;
	margin: 0px 2px;
	padding: 10px;
}
.contaner > a.button:hover {
	color:#222;
	background: #F6BB42;
}

.ha:hover{
	background: rgba(130,177,255 ,0.3);
	/*background: rgba(255, 207, 83, 0.3);*/
}

/*popup*/
.popmenu, .popmenu-top, .submenu{

}
	.popmenu .popheader{
		color:#FFF;
		background: #4A89DC;
	}
	.popmenu .popheader .blue{
		color:#FFF;
	}

.triangle{
	border-top: 7px solid #4A89DC;
}
.top-triangle{
	border-bottom: 7px solid #4A89DC;
}

/*карточка*/
#head #close{
	/*top:-10px;*/
	border:1px solid #34495E;
	border-top:0;
	background:#F6BB42;
	font-size:0.80em;
	color: #34495E;
	line-height: 0.95em;
	padding: 5px 10px;
}
#head #close:hover{
	border:1px solid #34495E;
	border-top:0;
	background:#FFFFFF;
	color: #34495E;
}

.fixx{
	color:#FFF;
	background: #34495E;
}
	.fixx #ctitle .blue,
	.fixx #ctitle a{
		color:#BDC3C7;
	}

#dtabs ul li {
	color: #FFF;
	background:#2C3E50;
}
#dtabs ul li:hover {
	border-bottom:0px;
}
#dtabs ul li a{
	color: #FFF;
}
#dtabs ul li:hover,
#dtabs ul li a:hover {
	border-bottom:0px;
	color:#FFF;
	background: #536DFE;
}
#dtabs ul li a,
#dtabs ul li:hover a{
	color: #FFF;
}
#dtabs ul li.current:hover a{
	color: #2C3E50;
	background:#F7F7EE;
}

fieldset{
	border-color: #BDC3C7;
}

fieldset .batton-edit a,
fieldset .batton-edit a .blue{
	color:#2C3E50;
}

/*элементы ui.jquery*/
.ui-state-active, .ui-widget-content .ui-state-active,
.mainbg .contaner,
.mainbg .ui-tabs-nav,
#tab_container,
#dttabs .ui-state-active{
	border-color: #BDC3C7;
}

#tab_container,
#tab_container .blue{
	color:#222;
}

/*список дел в левой панели*/
#taskweek .header{
	color:#222;
	background:#F5F7FA;
	border-color:#F5F7FA;
}

