<p> </p>

<p><b>ВНИМАНИЕ! СЧЕТ ДЕЙСТВИТЕЛЕН В ТЕЧЕНИЕ 5 ДНЕЙ С ДАТЫ СОЗДАНИЯ.</b></p>

<p align="justify">Стороны договорились, что стоимость услуг оплачивается Покупателем в размере 100 (сто) % от стоимости, указанной в вышеприведённой таблице. Датой оплаты счета считается дата списания денежных средств с расчетного счета Покупателя.</p>

<p>Настоящий счет является договором-офертой в соответствии со ст.435 ГК РФ. Настоящая оферта действительна и ее акцепт возможен <b>в течение 5 (пяти) </b>рабочих дней с момента выставления счета. При осуществлении оплаты по окончании срока действия оферты, Поставщик вправе потребовать доплаты, при условии изменения текущей розничной стоимости товара, либо не принимать оплату. Оплата по настоящему счёту является заключением договора об оказании услуг, при условии принятия ее поставщиком, в том числе по истечении срока, установленного для акцепта данной оферты.</p>

<p> </p>

<p><b>Датой окончания предоставления услуги считается дата подписания обеими Сторонами акта приёма-передачи работ. Настоящий счёт-договор вступает в силу с момента его оплаты Покупателем и действует до момента исполнения всех обязательств по нему.</b></p>
