
.icon-th-list:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-mail-alt:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-star-empty:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-database:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-plus:before { content: '\e809'; } /* '' */
.icon-minus:before { content: '\e80a'; } /* '' */
.icon-help-circled:before { content: '\e80b'; } /* '' */
.icon-info-circled:before { content: '\e80c'; } /* '' */
.icon-lock:before { content: '\e80d'; } /* '' */
.icon-lock-open:before { content: '\e80e'; } /* '' */
.icon-tag:before { content: '\e80f'; } /* '' */
.icon-tags:before { content: '\e810'; } /* '' */
.icon-flag:before { content: '\e811'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e812'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e813'; } /* '' */
.icon-download:before { content: '\e814'; } /* '' */
.icon-upload:before { content: '\e815'; } /* '' */
.icon-print:before { content: '\e816'; } /* '' */
.icon-edit:before { content: '\e817'; } /* '' */
.icon-pencil:before { content: '\e818'; } /* '' */
.icon-chat:before { content: '\e819'; } /* '' */
.icon-comment:before { content: '\e81a'; } /* '' */
.icon-bell-alt:before { content: '\e81b'; } /* '' */
.icon-direction:before { content: '\e81c'; } /* '' */
.icon-folder:before { content: '\e81d'; } /* '' */
.icon-folder-open:before { content: '\e81e'; } /* '' */
.icon-box:before { content: '\e81f'; } /* '' */
.icon-phone:before { content: '\e820'; } /* '' */
.icon-phone-squared:before { content: '\e821'; } /* '' */
.icon-cog-alt:before { content: '\e822'; } /* '' */
.icon-calendar:before { content: '\e823'; } /* '' */
.icon-calendar-empty:before { content: '\e824'; } /* '' */
.icon-fire:before { content: '\e824'; } /* '' */
.icon-lightbulb:before { content: '\e825'; } /* '' */
.icon-clock:before { content: '\e826'; } /* '' */
.icon-zoom-in:before { content: '\e827'; } /* '' */
.icon-zoom-out:before { content: '\e828'; } /* '' */
.icon-ccw:before { content: '\e829'; } /* '' */
.icon-arrows-cw:before { content: '\e82a'; } /* '' */
.icon-globe:before { content: '\e82b'; } /* '' */
.icon-inbox:before { content: '\e82c'; } /* '' */
.icon-signal:before { content: '\e82d'; } /* '' */
.icon-flag-empty:before { content: '\e82e'; } /* '' */
.icon-table:before { content: '\e82f'; } /* '' */
.icon-columns:before { content: '\e830'; } /* '' */
.icon-briefcase:before { content: '\e831'; } /* '' */
.icon-suitcase:before { content: '\e832'; } /* '' */
.icon-off:before { content: '\e833'; } /* '' */
.icon-list-alt:before { content: '\e834'; } /* '' */
.icon-asterisk:before { content: '\e835'; } /* '' */
.icon-chart-bar:before { content: '\e836'; } /* '' */
.icon-floppy:before { content: '\e837'; } /* '' */
.icon-hdd:before { content: '\e838'; } /* '' */
.icon-certificate:before { content: '\e839'; } /* '' */
.icon-magic:before { content: '\e83a'; } /* '' */
.icon-gauge:before { content: '\e83b'; } /* '' */
.icon-sitemap:before { content: '\e83c'; } /* '' */
.icon-user-md:before { content: '\e83d'; } /* '' */
.icon-rouble:before { content: '\e83e'; } /* '' */
.icon-medkit:before { content: '\e83f'; } /* '' */
.icon-h-sigh:before { content: '\e840'; } /* '' */
.icon-hospital:before { content: '\e841'; } /* '' */
.icon-building:before { content: '\e842'; } /* '' */
.icon-smile:before { content: '\e843'; } /* '' */
.icon-puzzle:before { content: '\e844'; } /* '' */
.icon-bitbucket:before { content: '\e845'; } /* '' */
.icon-user-add:before { content: '\e846'; } /* '' */
.icon-user-1:before { content: '\e847'; } /* '' */
.icon-users-1:before { content: '\e848'; } /* '' */
.icon-chart-bar-1:before { content: '\e849'; } /* '' */
.icon-chart-area:before { content: '\e84a'; } /* '' */
.icon-chart-line:before { content: '\e84b'; } /* '' */
.icon-town-hall:before { content: '\e84c'; } /* '' */
.icon-home:before { content: '\e84d'; } /* '' */
.icon-info:before { content: '\e84e'; } /* '' */
.icon-cog:before { content: '\e84f'; } /* '' */
.icon-help:before { content: '\e850'; } /* '' */
.icon-doc-inv:before { content: '\e851'; } /* '' */
.icon-doc-text-inv:before { content: '\e852'; } /* '' */
.icon-user:before { content: '\e853'; } /* '' */
.icon-users:before { content: '\e854'; } /* '' */
.icon-coffee:before { content: '\e855'; } /* '' */
.icon-commerical-building:before { content: '\e856'; } /* '' */
.icon-angle-up:before { content: '\e857'; } /* '' */
.icon-angle-down:before { content: '\e858'; } /* '' */
.icon-angle-right:before { content: '\e859'; } /* '' */
.icon-angle-left:before { content: '\e85a'; } /* '' */
.icon-up-open:before { content: '\e85b'; } /* '' */
.icon-down-open:before { content: '\e85c'; } /* '' */
.icon-th-large:before { content: '\e85d'; } /* '' */
.icon-attach-1:before { content: '\e85e'; } /* '' */
.icon-link-1:before { content: '\e85f'; } /* '' */
.icon-link-ext:before { content: '\e860'; } /* '' */
.icon-right-big:before { content: '\e861'; } /* '' */
.icon-left-big:before { content: '\e862'; } /* '' */
.icon-up-big:before { content: '\e863'; } /* '' */
.icon-down-big:before { content: '\e864'; } /* '' */
.icon-right-open:before { content: '\e865'; } /* '' */
.icon-left-open:before { content: '\e866'; } /* '' */
.icon-attention-alt:before { content: '\e867'; } /* '' */
.icon-attention:before { content: '\e868'; } /* '' */
.icon-doc:before { content: '\e869'; } /* '' */
.icon-sort-alt-down:before { content: '\e86a'; } /* '' */
.icon-sort-alt-up:before { content: '\e86b'; } /* '' */
.icon-forward:before { content: '\e86c'; } /* '' */
.icon-shuffle:before { content: '\e86d'; } /* '' */
.icon-exchange:before { content: '\e86e'; } /* '' */
.icon-folder-open-empty:before { content: '\e86f'; } /* '' */
.icon-menu:before { content: '\e870'; } /* '' */
.icon-pound:before { content: '\e871'; } /* '' */
.icon-dollar:before { content: '\e872'; } /* '' */
.icon-euro:before { content: '\e873'; } /* '' */
.icon-money:before { content: '\e874'; } /* '' */
.icon-block:before { content: '\e875'; } /* '' */
.icon-volume-up:before { content: '\e876'; } /* '' */
.icon-folder-empty:before { content: '\e877'; } /* '' */
.icon-comment-empty:before { content: '\e878'; } /* '' */
.icon-doc-text:before { content: '\e879'; } /* '' */
.icon-docs:before { content: '\e87a'; } /* '' */
.icon-trash:before { content: '\e87b'; } /* '' */
.icon-book:before { content: '\e87c'; } /* '' */
.icon-paste:before { content: '\e87d'; } /* '' */
.icon-bitbucket-squared:before { content: '\e87e'; } /* '' */
.icon-filter:before { content: '\e87f'; } /* '' */
.icon-chart-pie:before { content: '\e880'; } /* '' */
.icon-bell:before { content: '\e881'; } /* '' */
.icon-truck:before { content: '\e882'; } /* '' */
.icon-tasks:before { content: '\e883'; } /* '' */
.icon-check:before { content: '\e884'; } /* '' */
.icon-chat-empty:before { content: '\e885'; } /* '' */
.icon-eye:before { content: '\e886'; } /* '' */
.icon-eye-off:before { content: '\e887'; } /* '' */
.icon-ellipsis-vert:before { content: '\e888'; } /* '' */
.icon-ellipsis:before { content: '\e889'; } /* '' */
.icon-check-empty:before { content: '\e88a'; } /* '' */
.icon-glasses:before { content: '\e88b'; } /* '' */
.icon-down-dir:before { content: '\e88c'; } /* '' */
.icon-left:before { content: '\e88d'; } /* '' */
.icon-up-circled:before { content: '\e88e'; } /* '' */
.icon-left-open-mini:before { content: '\e88f'; } /* '' */
.icon-angle-double-right:before { content: '\e890'; } /* '' */
.icon-angle-double-left:before { content: '\e891'; } /* '' */
.icon-calendar-1:before { content: '\e892'; } /* '' */
.icon-address-book:before { content: '\e893'; } /* '' */
.icon-cancel-circled:before { content: '\e894'; } /* '' */
.icon-ok-circled:before { content: '\e895'; } /* '' */
.icon-plus-circled:before { content: '\e896'; } /* '' */
.icon-cancel-circled2:before { content: '\e897'; } /* '' */
.icon-picture:before { content: '\e898'; } /* '' */
.icon-award:before { content: '\e899'; } /* '' */
.icon-vcard:before { content: '\e89a'; } /* '' */
.icon-graduation-cap:before { content: '\e89b'; } /* '' */
.icon-gift:before { content: '\e89c'; } /* '' */
.icon-graduation-cap-1:before { content: '\e89d'; } /* '' */
.icon-file-pdf:before { content: '\e89e'; } /* '' */
.icon-file-word:before { content: '\e89f'; } /* '' */
.icon-file-excel:before { content: '\e8a0'; } /* '' */
.icon-file-powerpoint:before { content: '\e8a1'; } /* '' */
.icon-file-image:before { content: '\e8a2'; } /* '' */
.icon-file-archive:before { content: '\e8a3'; } /* '' */
.icon-file-audio:before { content: '\e8a4'; } /* '' */
.icon-file-video:before { content: '\e8a5'; } /* '' */
.icon-file-code:before { content: '\e8a6'; } /* '' */
.icon-sliders:before { content: '\e8a7'; } /* '' */
.icon-skype:before { content: '\e8a8'; } /* '' */
.icon-vkontakte:before { content: '\e8a9'; } /* '' */
.icon-linkedin-squared:before { content: '\e8aa'; } /* '' */
.icon-facebook-squared:before { content: '\e8ab'; } /* '' */
.icon-gplus-squared:before { content: '\e8ac'; } /* '' */
.icon-trophy:before { content: '\e8ad'; } /* '' */
.icon-cancel-circled-1:before { content: '\e8ae'; } /* '' */
.icon-cancel-squared:before { content: '\e8af'; } /* '' */
.icon-plus-1:before { content: '\e8b0'; } /* '' */
.icon-plus-circled-1:before { content: '\e8b1'; } /* '' */
.icon-plus-squared:before { content: '\e8b2'; } /* '' */
.icon-minus-1:before { content: '\e8b3'; } /* '' */
.icon-minus-circled:before { content: '\e8b4'; } /* '' */
.icon-minus-squared:before { content: '\e8b5'; } /* '' */
.icon-help-1:before { content: '\e8b6'; } /* '' */
.icon-help-circled-1:before { content: '\e8b7'; } /* '' */
.icon-info-1:before { content: '\e8b8'; } /* '' */
.icon-info-circled-1:before { content: '\e8b9'; } /* '' */
.icon-bookmark:before { content: '\e8ba'; } /* '' */
.icon-bookmarks:before { content: '\e8bb'; } /* '' */
.icon-flag-1:before { content: '\e8bc'; } /* '' */
.icon-thumbs-up:before { content: '\e8bd'; } /* '' */
.icon-thumbs-down:before { content: '\e8be'; } /* '' */
.icon-download-1:before { content: '\e8bf'; } /* '' */
.icon-upload-1:before { content: '\e8c0'; } /* '' */
.icon-upload-cloud:before { content: '\e8c1'; } /* '' */
.icon-reply:before { content: '\e8c2'; } /* '' */
.icon-reply-all:before { content: '\e8c3'; } /* '' */
.icon-forward-1:before { content: '\e8c4'; } /* '' */
.icon-quote:before { content: '\e8c5'; } /* '' */
.icon-chat-1:before { content: '\e8c6'; } /* '' */
.icon-bell-1:before { content: '\e8c7'; } /* '' */
.icon-attention-1:before { content: '\e8c8'; } /* '' */
.icon-address:before { content: '\e8c9'; } /* '' */
.icon-location:before { content: '\e8ca'; } /* '' */
.icon-map:before { content: '\e8cb'; } /* '' */
.icon-direction-1:before { content: '\e8cc'; } /* '' */
.icon-compass:before { content: '\e8cd'; } /* '' */
.icon-cup:before { content: '\e8ce'; } /* '' */
.icon-trash-1:before { content: '\e8cf'; } /* '' */
.icon-folder-1:before { content: '\e8d0'; } /* '' */
.icon-archive:before { content: '\e8d1'; } /* '' */
.icon-box-1:before { content: '\e8d2'; } /* '' */
.icon-rss:before { content: '\e8d3'; } /* '' */
.icon-phone-1:before { content: '\e8d4'; } /* '' */
.icon-cog-1:before { content: '\e8d5'; } /* '' */
.icon-tools:before { content: '\e8d6'; } /* '' */
.icon-share:before { content: '\e8d7'; } /* '' */
.icon-shareable:before { content: '\e8d8'; } /* '' */
.icon-basket:before { content: '\e8d9'; } /* '' */
.icon-bag:before { content: '\e8da'; } /* '' */
.icon-calendar-2:before { content: '\e8db'; } /* '' */
.icon-lamp:before { content: '\e8dc'; } /* '' */
.icon-light-down:before { content: '\e8dd'; } /* '' */
.icon-light-up:before { content: '\e8de'; } /* '' */
.icon-adjust:before { content: '\e8df'; } /* '' */
.icon-block-1:before { content: '\e8e0'; } /* '' */
.icon-resize-full:before { content: '\e8e1'; } /* '' */
.icon-resize-small:before { content: '\e8e2'; } /* '' */
.icon-popup:before { content: '\e8e3'; } /* '' */
.icon-publish:before { content: '\e8e4'; } /* '' */
.icon-window:before { content: '\e8e5'; } /* '' */
.icon-arrow-combo:before { content: '\e8e6'; } /* '' */
.icon-right-open-mini:before { content: '\e8e7'; } /* '' */
.icon-up-open-mini:before { content: '\e8e8'; } /* '' */
.icon-down-open-big:before { content: '\e8e9'; } /* '' */
.icon-left-open-big:before { content: '\e8ea'; } /* '' */
.icon-right-open-big:before { content: '\e8eb'; } /* '' */
.icon-up-open-big:before { content: '\e8ec'; } /* '' */
.icon-right:before { content: '\e8ed'; } /* '' */
.icon-left-thin:before { content: '\e8ee'; } /* '' */
.icon-right-thin:before { content: '\e8ef'; } /* '' */
.icon-up-thin:before { content: '\e8f0'; } /* '' */
.icon-ccw-1:before { content: '\e8f1'; } /* '' */
.icon-cw:before { content: '\e8f2'; } /* '' */
.icon-arrows-ccw:before { content: '\e8f3'; } /* '' */
.icon-level-down:before { content: '\e8f4'; } /* '' */
.icon-level-up:before { content: '\e8f5'; } /* '' */
.icon-shuffle-1:before { content: '\e8f6'; } /* '' */
.icon-loop:before { content: '\e8f7'; } /* '' */
.icon-switch:before { content: '\e8f8'; } /* '' */
.icon-play:before { content: '\e8f9'; } /* '' */
.icon-progress-1:before { content: '\e8fa'; } /* '' */
.icon-progress-2:before { content: '\e8fb'; } /* '' */
.icon-progress-3:before { content: '\e8fc'; } /* '' */
.icon-target:before { content: '\e8fd'; } /* '' */
.icon-palette:before { content: '\e8fe'; } /* '' */
.icon-list:before { content: '\e8ff'; } /* '' */
.icon-list-add:before { content: '\e900'; } /* '' */
.icon-battery:before { content: '\e901'; } /* '' */
.icon-back-in-time:before { content: '\e902'; } /* '' */
.icon-monitor:before { content: '\e903'; } /* '' */
.icon-flash:before { content: '\e904'; } /* '' */
.icon-moon:before { content: '\e905'; } /* '' */
.icon-flight:before { content: '\e906'; } /* '' */
.icon-paper-plane:before { content: '\e907'; } /* '' */
.icon-leaf:before { content: '\e908'; } /* '' */
.icon-lifebuoy:before { content: '\e909'; } /* '' */
.icon-mouse:before { content: '\e90a'; } /* '' */
.icon-briefcase-1:before { content: '\e90b'; } /* '' */
.icon-suitcase-1:before { content: '\e90c'; } /* '' */
.icon-dot:before { content: '\e90d'; } /* '' */
.icon-dot-2:before { content: '\e90e'; } /* '' */
.icon-dot-3:before { content: '\e90f'; } /* '' */
.icon-sip-phone:before { content: '\e910'; } /* '' */
.icon-twitter:before { content: '\e911'; } /* '' */
.icon-whatsapp:before { content: '\e912'; } /* '' */
.icon-article-alt:before { content: '\e913'; } /* '' */
.icon-calendar-inv:before { content: '\e914'; } /* '' */
.icon-pocket:before { content: '\e915'; } /* '' */
.icon-view-mode:before { content: '\e916'; } /* '' */
.icon-list-1:before { content: '\e917'; } /* '' */
.icon-list-nested:before { content: '\e918'; } /* '' */
.icon-article:before { content: '\e919'; } /* '' */
.icon-doc-inv-alt:before { content: '\e91a'; } /* '' */
.icon-doc-alt:before { content: '\e91b'; } /* '' */
.icon-edit-1:before { content: '\e91c'; } /* '' */
.icon-th:before { content: '\e91d'; } /* '' */
.icon-down-outline:before { content: '\e91e'; } /* '' */
.icon-up-outline:before { content: '\e91f'; } /* '' */
.icon-jobsearch:before { content: '\e920'; } /* '' */
.icon-jobsoiskatel:before { content: '\e921'; } /* '' */
.icon-phone-circled:before { content: '\e922'; } /* '' */
.icon-braille:before { content: '\e923'; } /* '' */
.icon-buffer:before { content: '\e924'; } /* '' */
.icon-play-circled:before { content: '\e925'; } /* '' */
.icon-youtube:before { content: '\e926'; } /* '' */
.icon-video:before { content: '\e927'; } /* '' */
.icon-pause:before { content: '\e928'; } /* '' */
.icon-pause-circled:before { content: '\e929'; } /* '' */
.icon-vkontakte-1:before { content: '\e92a'; } /* '' */
.icon-skype-1:before { content: '\e92b'; } /* '' */
.icon-facebook:before { content: '\e92c'; } /* '' */
.icon-download-2:before { content: '\f02e'; } /* '' */
.icon-upload-2:before { content: '\f02f'; } /* '' */
.icon-play-circled-1:before { content: '\f144'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-slack:before { content: '\f198'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-wpforms:before { content: '\f298'; } /* '' */
.icon-volume-control-phone:before { content: '\f2a0'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-address-book-1:before { content: '\f2b9'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-window-restore:before { content: '\f2d2'; } /* '' */
.icon-snowflake-o:before { content: '\f2dc'; } /* '' */
